<?php

$records = !empty( $records ) ? $records : array();

  foreach ( $records as $record ):

?>
<div class="record" data-id="<?=$record->id;?>">
  <div class="name"><?=$record->name;?></div>
  <div class="info"><?=$record->type;?></div>
  <div class="info">#<?=$record->id;?></div>
  <div class="info"><?=$record->content;?></div>
  <div class="info"><?=$record->ttl;?></div>
  <div class="button t-o">DELETE</div>
</div>
<?php

  endforeach;

?>