<?php

$assets = !empty( $assets ) ? $assets : '';
$view = !empty( $view ) ? $view : '';

?>
<!doctype html>
<html>
  <head>
    <title>Websupport API quest</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="<?=$this->general->buildAssetRoute( '/img/favicon.png' );?>" />
    <?=$assets;?>
  </head>
  <body>
    <?=$this->renderElement( 'menu' );?>
    <div id="view"><?=$view;?></div>
  </body>
</html>