<?php

$post = !empty( $post ) ? true : false;
$type = !empty( $type ) ? $type : '';
$name = !empty( $name ) ? $name : '';
$content = !empty( $content ) ? $content : '';
$ttl = !empty( $ttl ) ? $ttl : 0;

?>
<div id="add-domain-record">
  <div class="title">Add domain record</div>
  <? if ( $post ): ?>
  <div class="error">Error message</div>
  <? endif; ?>
  <form method="POST">
    <input name="type" class="t-boc" type="text" placeholder="Type (A, ANAME, CNAME)" value="<?=$type;?>" />
    <input name="name" class="t-boc" type="text" placeholder="Name (subdomain or @)" value="<?=$name;?>" />
    <input name="content" class="t-boc" type="text" placeholder="IPv4 address (1.2.3.4)" value="<?=$content;?>" />
    <input name="ttl" class="t-boc" type="text" placeholder="Time to live" value="600" value="<?=$ttl;?>" />
    <input class="t-a" type="submit" value="ADD" />
  </form>
</div>