<?php

$records = !empty( $records ) ? $records : array();
$limit = !empty( $limit ) ? $limit : 0;

?>
<div id="index">
  <div class="title">LIST OF RECORDS</div>
  <div class="content">
    <?=$this->renderElement( 'record', array( 'records' => $records ) );?>
  </div>
  <div class="buttons">
    <? if ( sizeof( $records ) == $limit ): ?>
    <div class="button load t-o">LOAD MORE</div>
    <? endif; ?>
    <a href="/add-domain-record" class="button add t-o">ADD RECORD</a>
  </div>
  <input class="page" type="hidden" value="2">
</div>