html, body { padding: 0; margin: 0; font-family: 'Open Sans'; font-size: 14px; font-weight: normal; font-style: normal; background-color: rgb(255,255,255); color: rgb(150,150,150); }

::-webkit-input-placeholder { color: rgb(220,220,220); }
::-moz-placeholder { color: rgb(220,220,220); opacity: 1; }

input { display: block; margin: 20px auto 0 auto; padding: 0; width: 300px; height: 46px; line-height: 46px; font-family: 'Open Sans'; font-size: 14px; font-weight: normal; font-style: normal; color: rgb(150,150,150); border: 1px solid rgb(240,240,240); text-align: center; }
input:focus { outline: none; border-color: rgb(230,230,230); }
input[type=submit] { width: 302px; height: 48px; line-height: 48px; background-color: rgb(235,235,235); border: 0; font-weight: 900; color: rgb(200,200,200); cursor: pointer; }
input[type=submit]:hover { background-color: rgb(165,198,85); color: rgb(255,255,255); }

a { text-decoration: none; }

.t-a { -webkit-transition: all 0.5s; transition: all 0.5s; }
.t-o { -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
.t-boc { -webkit-transition: border-color 0.5s; transition: border-color 0.5s; }

#menu { height: 60px; -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); }
#menu .content { margin: auto; width: 960px; height: 100%; }
#menu .content img { float: left; margin: 5px 0; height: 50px; }

#view { margin: auto; padding: 40px 0; width: 960px; }

#index .title { padding: 0 0 20px 0; font-size: 20px; font-weight: 900; text-align: center; }
#index .content .record { height: 50px; border-bottom: 1px solid rgb(240,240,240); }
#index .content .record .name { float: left; height: 100%; line-height: 50px; font-weight: 900; }
#index .content .record .info { float: left; margin: 0 0 0 50px; height: 100%; line-height: 50px; opacity: .5; }
#index .content .record .button { float: right; height: 100%; line-height: 50px; color: rgb(217,46,78); font-weight: 900; cursor: pointer; }
#index .content .record .button:hover { opacity: .5; }
#index .buttons { margin: 40px 0 0 0; font-size: 0; text-align: center; }
#index .buttons .button { display: inline-block; vertical-align: top; margin: 0 40px 0 0; width: 146px; height: 48px; line-height: 48px; font-size: 14px; font-weight: 900; background-color: rgb(235,235,235); color: rgb(200,200,200); cursor: pointer; }
#index .buttons .button:hover { opacity: .5; }
#index .buttons .button.add { margin: 0; background-color: rgb(165,198,85); color: rgb(255,255,255); }

#add-domain-record .title { padding: 0 0 20px 0; font-size: 20px; font-weight: 900; text-align: center; }
#add-domain-record .error { color: rgb(200,0,0); font-size: 11px; text-align: center; }